body {
    font-family: 'Homenaje', sans-serif;
    color: #B95267;
    margin: 0;
    padding: 0;
    font-size: bolder;
}

.form-cadastro {
    top: 10px;
    width: 350px;
    height: 650px;
    padding: 50px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    position: relative;
    z-index: 999;
    animation: fadeIn 0.7s ease-in-out;
}


.titulo-cadastro {
    font-size: 15px;
    text-align: center;
    color: #444;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.realizecadastro{
    position: relative;
    bottom: 50px;

}

.itens-form{
    position: relative;
    bottom: 150%;
    right: 10px;
}

.form-item {
    height: 40px; 
    width: calc(100% - 20px);
    position: relative;
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px; 
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box; 
}

.form-item:focus {
    border-color: #74ebd5;
    box-shadow: 0 0 10px rgba(116, 235, 213, 0.5);
    outline: none;
}

.form-submit-cadastro {
    transform: translateX(110%);
    padding: 15px;
    border-radius: 33px;
    background: linear-gradient(100deg, #FF4879 17.21%, #D649E3 89.48%);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-submit-cadastro:hover {
    background-color: #4db8ba;
}

.fundo-cadastro{
    position: relative;
    width: 300px;
    top: -90px;
    left: 30px;
}

.fundo-forms{
    position: relative;
    right: 350px;
    bottom: 200px;
    z-index: 0;
}

.input-container {
    position: relative;
    margin-bottom: 20px; 
}

.error-message {
    color: #921420;
    font-size: 18px;
    height: 15px; 
    margin-top: 4px; 
    position: absolute; 
    top: 100%;
}
.success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: 10px;
}

.password-toggle2 {
    position: absolute;
    right: 10%;
    top: 55%;
    cursor: pointer;
    transform: translateY(-50%);
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}