body {
    font-family: 'Homenaje', sans-serif;
    color: #B95267;
    margin: 0;
    padding: 0;
    font-size: large;
}

.form-cadastro {
    top: 10px;
    width: 450px;
    height: 800px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    position: relative;
    z-index: 1;
    animation: fadeIn 0.7s ease-in-out;
}

.titulo-cadastro {
    font-size: 30px;
    text-align: center;
    color: #444;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.realizecadastro{
    position: relative;
    bottom: 50px;

}

.itens-form{
    position: relative;
    bottom: 100px;

}

.form-item {
    width: calc(100% - 20px);
    position: relative;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.form-item:focus {
    border-color: #74ebd5;
    box-shadow: 0 0 10px rgba(116, 235, 213, 0.5);
    outline: none;
}

.form-submit-cadastro {
    transform: translateX(150%);
    padding: 15px;
    border-radius: 33px;
    background: linear-gradient(100deg, #FF4879 17.21%, #D649E3 89.48%);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-submit-cadastro:hover {
    background-color: #4db8ba;
}

.fundo-cadastro{
    
    position: relative;
    top: -100px;
    left: 30px;
}


.error-message {
    color: #e2031a;
    font-size: 14px;
    margin-top: 10px;
}

.success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: 10px;
}

.password-toggle2{
    position: absolute;
    right: 10%;
    top: 60.6%;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}