.Home{
    height: 962px;
}


.Imagem{
    position: relative;
    top: -10%;
    left: 67.5%;
    
  } 

  .textinho{
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(45px + 2vmin);
    top: -80%;
    left: 26.5%;
    font-family: 'Roboto';
    line-height: 0.5;
    
  }

  .button-section {
    display: flex;
    position: relative;
    gap: 50px;
    top: -70%;
    left: 27%;
  }
  
  .button {
    font-size: 1.8vw;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
  }
  
  .yellow-button {
    background-color: #f3cf00;
    color: #333;
  }
  
  .yellow-button:hover {
    background-color: #030300;
    color: #fff;
  }
  
  .blue-button {
    background-color: #ff7057;
    color: #333;
  }
  
  .blue-button:hover {
    background-color: #030300;
    color: #fff;
  }