.Home{
    height: 962px;
    overflow: hidden;
}
.decor-ball{
  border-radius: 100%;
  height: 120px;
  width: 120px;
  background-color: #A9D4D9;
}
.decor-ball2{
  border-radius: 100%;
  height: 35px;
  width: 35px;
  background-color: #5A8885;
}

.Imagem{
    position: absolute;
    top: 15%;
    left: 48%;
    margin: 0;
    padding: 0;
    display: block;
  } 
.Imagem2{
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    top: 5%;
}
  .textinho{
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    max-width: 700px;
    left: 10%;
    top: 18%;
    font-family: 'Roboto';
    line-height: 1;
  }
p{
  font-weight: 300;
}
  .button-section {
    display: flex;
    position: relative;
    gap: 50px;
    top: 0%;
    left: 27%;
  }
  
  .button {
    font-size: 1.8vw;
    position: relative;
    top: 270px;
    right: 18%;
    padding: 18px 60px;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .yellow-button {
    /* cor do fundo com gradiente */
    background: linear-gradient(to right, #FFAFBF, #F86783);
    color: #fff;
    width: 100px;
    text-align: center;
    font-size: 26px;
  }
  
  .yellow-button:hover {
    background-color: #030300;
    color: #fff;
  }
  
  .blue-button {
    background-color: #37B8BF;
    color: #fff;
    width: 100px;
    text-align: center;
    font-size: 26px;
  }
  
  .blue-button:hover {
    background-color: #030300;
    color: #fff;
  }
  .perfil{
    position: relative;
    right: -1750%;
  }