.tudoo {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.form-login {
    width: 600px;
    background: #fff;
    padding: 40px 30px;
    border-radius: 33px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    top: -100px;
    animation: fadeIn 0.7s ease-in-out;
}

.form-titulo {
    font-size: 70px;
    font-family: Homenaje;
    color: #B95267;
    margin-bottom: 30px;
    letter-spacing: -2px;
    font-weight: 400;
    background-color: #fff;
    border-radius: 30px;
    padding: 8px 55px;
    margin-top: 0;
    border: 1px solid #C7C7C7
    
}

h4{
    margin: 10px;
    width: 10%;
    font-family: Homenaje;
    color: #B95267;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -2px;
    text-align: left;

}

.input-group {
    position: relative;
    margin-bottom: 20px;
    width: 77%;
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}


.form-username,
.form-password {
    width: 100%;
    padding: 16px 50px 16px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 30px;
    transition: border-color 0.3s ease;
}

.form-username:focus,
.form-password:focus {
    border-color: #1a237e;
    outline: none;
}

.password-toggle {
    position: absolute;
    right: -25%;
    top: 52%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    margin-top: 24px;
}

.error-message {
    color: #e2031a;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.lembre-me {
    font-size: 16px;
}

.esqueceu-senha {
    font-size: 16px;
    color: #B95267;
    text-decoration: none;
}

.esqueceu-senha:hover {
    text-decoration: underline;
}

.form-submit {
    width: 40%;
    padding: 22px;
    background: linear-gradient(99.68deg, #FF4879 17.21%, #D649E3 89.48%);
    color: white;
    border: none;
    border-radius: 27px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-submit:hover {
    background-color: #3949ab;
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1280px) {
    .tudoo {
        font-size: 16px;
    }
}
