.loja {
    height: auto;
    background-color: #FFF8FC;
}
.links12{
    text-decoration: none;

}
.exposicoes-imagem{
    position: absolute;
    top: -5%;
    left: 28%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo5-imagem{
    position: absolute;
    top: 18%;
    left: 60%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo4-imagem{
    position: absolute;
    top: 50%;
    left: 0%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo3-imagem{
    position: absolute;
    top: -7%;
    left: 60%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo2-imagem{
    position: absolute;
    top: 6.5%;
    left: 25%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo1-imagem{
    position: absolute;
    top: -5%;
    left: 4%;
    margin: 0;
    padding: 0;
    display: block;
}
.color-title {
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: relative;
    bottom: 160px;
    width: 1200px;
    left: 18%;
    height: 60px;
}

.titulo-page {  
    font-family: "verdana";
    position: relative;
    text-align: center;
    /* left: 42%; */
    top: -30px;
    font-size: 55px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.Pedro {
    max-width: 80%;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    white-space: nowrap ;
    height: 900px;
    position: relative;
    bottom: -4%;
    
}


.mulher-loja {
    position: relative;
    left: 64%;
}

.flor {
    position: relative;
    left: 0.03%;
}

.low-container {
    position: relative;
    bottom: 240px;
}

.sub-titulos1, .sub-titulos2, .sub-titulos3 {
    gap: 130px;
}

.sub-titulos2, .sub-titulos3 {
    gap: 90px;
}   
    
.product-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 2rem;
justify-content: center;
grid-template-columns: repeat(5, 1fr);

}
/* Estilo geral do container de produtos */
.botao-perfiladicionar {
    display: inline-block;
    text-decoration: none;
  }
  
  .botao-perfiladicionar button {
    background-color: #dd6afa; /* Cor verde */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  .botao-perfiladicionar button:hover {
    background-color: #9247a5; /* Cor verde mais escura */
    transform: translateY(-2px); /* Efeito de levantar o botão */
  }
  
  .botao-perfiladicionar button:active {
    background-color: #542161; /* Cor verde ainda mais escura */
    transform: translateY(0); /* Remover o efeito ao clicar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduzir a sombra ao clicar */
  }
  
.produtos-lista{
    display: flex;
    gap: 30px;
    text-decoration: none;
}
/* Estilo do card de produto */
.produto-card {
    width: 260px;
    height: 368px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

    padding: 10px;
    position: relative;
}

/* Placeholder para imagem */
.image-placeholder {
    position: relative;
    width: 260px;
    height: 280px;
    
   
    border-radius: 10px;
    margin-bottom: 10px;
    z-index: 1;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para o nome do produto */
.product-name {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    right: 0%;
    color: #333;
}

/* Estilo para o preço */
.product-price {
    position: relative;
    font-size: 0.9rem;
    color: #666;
    right: 0%;
    bottom: 6%;
}
.product-autor{
    position: relative;
    color: #666;
    left: 5%;
    bottom: 15%;
    max-width: 15%;
    
}
/* Estilo para a descrição do produto */
.product-description {
    position: relative;
    font-size: 0.8rem;
    color: #666;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    bottom: 12%;
}
.nomes{
    position: relative;
    bottom: 5%;
}
.quantidade-product{
    position: relative;
    bottom: 6%;
    
}
/* Circulo colorido na parte inferior */
.produto-card::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: pink;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
