.loja {
    height: auto;
    background-color: #FFF8FC;
}

.exposicoes-imagem{
    position: absolute;
    top: -5%;
    left: 28%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo5-imagem{
    position: absolute;
    top: 18%;
    left: 60%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo4-imagem{
    position: absolute;
    top: 50%;
    left: 0%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo3-imagem{
    position: absolute;
    top: -7%;
    left: 60%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo2-imagem{
    position: absolute;
    top: 6.5%;
    left: 25%;
    margin: 0;
    padding: 0;
    display: block;
}
.grupo1-imagem{
    position: absolute;
    top: -5%;
    left: 4%;
    margin: 0;
    padding: 0;
    display: block;
}
.color-title {
    text-align: center;
    padding: 5px 10px 5px 10px;
    position: relative;
    bottom: 160px;
    width: 1200px;
    left: 18%;
    height: 60px;
}

.titulo-page {  
    font-family: "verdana";
    position: relative;
    text-align: center;
    /* left: 42%; */
    top: -30px;
    font-size: 55px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.Pedro {
    max-width: 80%;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    white-space: nowrap ;
    height: 900px;
    position: relative;
    bottom: -4%;
    
}

.imgcontainer1, .imgcontainer2, .imgcontainer3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: relative;
    left: 165px;
    top: 20px;
    border-radius: 20px;
}

.titulos1, .titulos2, .titulos3 {
    display: flex;
    flex-direction: row;
    gap: 205px;
    position: relative;
    left: 170px;
    bottom: 40px;
    font-weight: bold;
    z-index: 2;
}

.imagem2 {
    background-color: white;
    padding: 15px 15px 60px 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.sub-titulos1 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos3 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 170px;
    bottom: 67px;
    font-size: 13px;
}

.sub-titulos1, .sub-titulos2, .sub-titulos3{
    z-index: 2;
}

.sub-titulo3-1{
    position: relative;
    right: 50px;
}

.titulo3-1{
    position: relative;
    right: 102px;
}

.sub-titulo2-1, .titulo2-1{
    position: relative;
    right: 20px;
}

.sub-titulo1-1{
    position: relative;
    right: 28px;
}

.titulo1-1{
    position: relative;
    left: 28px;
}

.titulo2-2{
    position: relative;
    right: 15px;
}

.mulher-loja {
    position: relative;
    left: 64%;
}

.flor {
    position: relative;
    left: 0.03%;
}

.low-container {
    position: relative;
    bottom: 240px;
}

.sub-titulos1, .sub-titulos2, .sub-titulos3 {
    gap: 130px;
}

.sub-titulos2, .sub-titulos3 {
    gap: 90px;
}   
    
.product-grid {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 2rem;
justify-content: center;
grid-template-columns: repeat(5, 1fr);

}
.product-card {
background-color: white;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
align-items: center;
}
.product-image {
width: 230px;
height: 270px;
background-color: #f0f0f0;
margin-bottom: -8px;
border-radius: 15px;
box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.1);

}
.product-name {
font-size: 1.2rem;
margin-bottom: -8px;
}
.product-description {
font-size: 0.9rem;
color: #666;
margin-bottom: -8px;
max-width: 150px;
}
.product-price {
font-size: 1rem;
font-weight: bold;
margin-bottom: -5px;
}