.baiacu{
  height: auto;
  margin: 0;
  padding: 0;

}

.main{
  background-Color: #fff1f6;
  min-Height: 100vh;
  display: flex;
  justify-Content: center;
  align-Items: center;
  font-Family: Arial, sans-serif;
  padding: 20px;

}
.container{
  background-Color: white;
  border-Radius: 15px;
  padding: 130px;
  box-Shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  max-Width: 800px;
  width: 100%;

}
.container2{
  flex: 1; 
  margin-right: 30px;

}
.imagem-main{
  width: 100%; 
  height: auto; 
  border-radius: 10px;
  position: relative;
  right: 15%;
  
}
.info-233{
  flex: 1;
  transform: translateX(10%);
  transform: translateY(-7%);
}
.titulo-produto12{
  color: #ff69b4;
  margin-bottom: 10px;
}
.descricao-produto12{
  color: #666; 
  margin-bottom: 20px; 
}
.preco-produto12{
 color: black;
 font-size: 20px;
}
.avaliacao-produto12{
  display: flex; 
  margin-bottom: 20px;
}
.botao-compra12{
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  transform: translateY(320%);
}