body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, Roboto;
}
/* Dark Mode */
body.dark-mode, .dark-mode .loja {
  background-color: #2c003e; /* Fundo roxo escuro */
  color: #ffffff; /* Texto branco */
  background-image: url('./assets/estrelinhas.png'); /* Imagem de estrelas no fundo */
}

.dark-mode .comunidades, .dark-mode .page, .dark-mode .baiacu {
  background-color: #2c003e; /* Fundo roxo escuro */
  color: black;
  background-image: url('./assets/estrelinhas.png'); /* Imagem de estrelas no fundo */
}

.navbar.dark-mode {
  background-color: #4b0082; /* Roxo mais intenso */
}

.navbar-nav .nav-link.dark-mode,
.navbar-nav .nav-link-icon.dark-mode,
.navbar-nav .nav-link-perfil.dark-mode,
.dark-mode .subtitulo p
{
  color: #ffffff;
  opacity: 100%;
}

.dark-mode .lowcontainer p,
.dark-mode .lowcontainer h3{
  color: #ffffff;
  opacity: 100%;
}

.navbar-nav .nav-link:hover.dark-mode,
.navbar-nav .nav-link-icon:hover.dark-mode,
.navbar-nav .nav-link-perfil:hover.dark-mode {
  text-decoration: underline;
  color: #cbb4e6; /* Roxo claro para hover */
}

.dark-mode .footer,
.dark-mode .footer-bottom {
  background-color:  #420270 !important; /* Roxo escuro */
  color: #ffffff !important;
}

.dark-mode .footer-heading,
.dark-mode .footer-links a,
.dark-mode .contact p,
.dark-mode .footer-description,
.dark-mode .social-links a,
.dark-mode .footer-bottom {
  color: #ffffff;
}

.dark-mode .button-section .button {
  background: linear-gradient(to right, #8a2be2, #9932cc); /* Gradiente roxo */
  color: #fff;
}

.dark-mode .circle {
  background-color: #9932cc; /* Ajuste de cor para o círculo */
}

.dark-mode .decor-ball,
.dark-mode .decor-ball2 {
  background-color: #4b0082; /* Bolas de decoração */
}

/* Estrelas no background */

.dark-mode .Imagem2{
  opacity: 0%;
}